#icon {
  width: 50px;
  height: 50px;
  border-radius: 10px
}

#signoutbtn {
  position: absolute;
  right: 50px;
}

@media (max-width: 574px) {
  #signoutbtn {
    position: static;
    margin-top: 20px     
  }
}